// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

#login{
	font-family: 'Hammersmith One', sans-serif;
}
 #main{
	font-family: 'Artifika', serif;
	position: relative;

}
h2 {
	margin: 0 auto;
}
